<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2-2-C4</string>
		<key>name</key>
		<string>二期二批次C4型</string>
		<key>desc</key>
		<string>3室2厅1厨2卫</string>
		<key>area</key>
		<integer>137</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-C3</string>
		<key>name</key>
		<string>二期二批次C3型</string>
		<key>desc</key>
		<string>3室2厅1厨2卫</string>
		<key>area</key>
		<integer>134</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-C2</string>
		<key>name</key>
		<string>二期二批次C2型 </string>
		<key>desc</key>
		<string>3室2厅1厨2卫</string>
		<key>area</key>
		<integer>133</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-C1</string>
		<key>name</key>
		<string>二期二批次C1型 </string>
		<key>desc</key>
		<string>3室2厅1厨2卫</string>
		<key>area</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B6</string>
		<key>name</key>
		<string>二期二批次B6型</string>
		<key>desc</key>
		<string>3室2厅1厨1卫</string>
		<key>area</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B5</string>
		<key>name</key>
		<string>二期二批次B5型</string>
		<key>desc</key>
		<string>3室2厅1厨1卫</string>
		<key>area</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B9</string>
		<key>name</key>
		<string>二期二批次B9型</string>
		<key>desc</key>
		<string>2室2厅1厨2卫</string>
		<key>area</key>
		<integer>136</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B8</string>
		<key>name</key>
		<string>二期二批次B8型 </string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B2</string>
		<key>name</key>
		<string>二期二批次B2型 </string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>89</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-B1</string>
		<key>name</key>
		<string>二期二批次B1型</string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-A7</string>
		<key>name</key>
		<string>二期二批次A7型</string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-A6</string>
		<key>name</key>
		<string>二期二批次A6型</string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>88</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-A5</string>
		<key>name</key>
		<string>二期二批次A5型</string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-A4</string>
		<key>name</key>
		<string>二期二批次A4型</string>
		<key>desc</key>
		<string>2室2厅1厨1卫</string>
		<key>area</key>
		<integer>86</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2-2-D1</string>
		<key>name</key>
		<string>二期二批次D1型</string>
		<key>desc</key>
		<string>4室2厅1厨2卫</string>
		<key>area</key>
		<integer>160</integer>
	</dict>
</array>
</plist>
