<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>floor</key>
		<string>1</string>
		<key>price</key>
		<string>6000</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>2</string>
		<key>price</key>
		<string>6100</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>3</string>
		<key>price</key>
		<string>6200</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>20</string>
		<key>price</key>
		<string>8000</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>4</string>
		<key>price</key>
		<string>6400</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>5</string>
		<key>price</key>
		<string>6500</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>6</string>
		<key>price</key>
		<string>6600</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>7</string>
		<key>price</key>
		<string>6700</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>8</string>
		<key>price</key>
		<string>6800</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>9</string>
		<key>price</key>
		<string>6900</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>10</string>
		<key>price</key>
		<string>7000</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>11</string>
		<key>price</key>
		<string>7100</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>12</string>
		<key>price</key>
		<string>7200</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>13</string>
		<key>price</key>
		<string>7300</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>14</string>
		<key>price</key>
		<string>7400</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>15</string>
		<key>price</key>
		<string>7500</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>16</string>
		<key>price</key>
		<string>7600</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>17</string>
		<key>price</key>
		<string>7700</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>18</string>
		<key>price</key>
		<string>7800</string>
	</dict>
	<dict>
		<key>floor</key>
		<string>19</string>
		<key>price</key>
		<string>7900</string>
	</dict>
</array>
</plist>
